*.class
*.jar
*.war
*.ear
hs_err_pid*
GPATH
GRTAGS
GTAGS

target

.idea
*.iml

.vscode

dist

bin
*.tmp
*.bak
*.swp
.settings
.project
.classpath
.factorypath
.attach_pid*
dependency-reduced-pom.xml

# Mac
*.DS_Store
logs
*.log
.~*

!maven-wrapper.jar
